[user]
        email = #email#
        name = Milomir Babic
[difftool]
        prompt = false
[format]
        pretty = format:%Cred%h%Creset %C(white)%s%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset
[core]
        editor = vim
[color]
	ui = true
[alias]
        full = show --pretty=fuller
[tig "color"]
	cursor = black white
[tig "color.main"]
	id = red default
	author = blue default bold
	date = green default
	commit-title = gray default
[tig "bind"]
	status = A !git commit --amend
[tig]
	main-view = id:yes date:display=relative author:display:full commit-title:graph=v2,refs=yes 
