[user]
        email = #email#
        name = Milomir Babic
[difftool]
        prompt = false
[format]
        pretty = format:%Cred%h%Creset %C(white)%s%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset
[core]
        editor = vim
[color]
	ui = true
[alias]
        full = show --pretty=fuller
[tig "color"]
	cursor = black white
[tig "bind"]
	status = A !git commit --amend
